* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #c2ecf5;
}

header {
  width: max-content;
  min-width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  position: relative;
  background: linear-gradient(to right, #2a0845, #6441a5);
}

header > img {
  height: 80%;
  margin-left: 10%;
  position: relative;
}

header > p {
  font-family: VT323, monospace;
  color: whitesmoke;
  font-size: 50px;
  margin-left: 60px;
  position: relative;
}

.meme {
  position: relative;
  width: 90%;
  margin: auto;
}

.meme > img {
  display: block;
  width: 80%;
  height: 40em;
  margin-left: auto;
  margin-right: auto;
}

.meme > h2 {
  color: white;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  /*text-shadow: 2px 2px 0 #000;*/
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
  position: absolute;
}

.meme > .bottom {
  bottom: 0;
}

.meme > .top {
  top: 0;
}

.meme-form {
  width: 90%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
}

.meme-form > input {
  width: 45%;
  height: 40px;
}

.meme-form > button {
  border: none;
  font-family: VT323, monospace;
  font-size: 25px;
  letter-spacing: 1.5px;
  color: white;
  background: #6441a5;
}

.meme-form > input::-webkit-input-placeholder {
  font-family: VT323, monospace;
  font-size: 25px;
  text-align: cen;
}
